extends ../balance/sidebar.pug

block header
  h1=t('views.assets.actions.addAsset')

block main
  .border.rounded-3.p-3.bg-white
    +formFor()(action='/assets' method='POST')
      +input(asset, 'assets', 'name', errors)(type="text")
      +input(asset, 'assets', 'amount', errors)(type="number")
      +submit()(value=t('views.assets.actions.add'))

