ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-check-label, .form-check-input {
  cursor: pointer;
}

.nameExpense {
  max-width: 300px;
}

.width-th {
  width: 70px;
}
.negative {
  color: rgb(18, 180, 18);
}
.positive {
  color: red;
}

.cardsWelcome {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  margin: 20px;
  padding: 20px;
}

.balance-header {
  width: 50%;
  background-color: rgba(77, 139, 194, 0.148);
  padding: 5px 15px;
  border: 1px solid gray;
  margin-bottom: 0;
}

.balance-element {
  width: 50%;
  background-color: rgba(174, 193, 248, 0.117);
  padding: 5px 15px;
  border: 1px solid gray;
  margin-bottom: 0;
  text-decoration: none;
}

.balance-footer {
  width: 50%;
  background-color: rgba(77, 139, 194, 0.148);
  padding: 5px 15px;
  border: 1px solid gray;
  margin-top: 0;
}

.el-top-left {
  border-top-left-radius: 2px;
}
.el-top-right {
  border-top-right-radius: 2px;
}
.el-bottom-left {
  border-bottom-left-radius: 2px;
}
.el-bottom-right {
  border-bottom-right-radius: 2px;
}
